.card-one {
    width: 333px;
    height: 205px;
    left: 293px;
    top: 202px;
    background: rgba(209, 187, 132, 0.2);
    border-radius: 9px;
}

.card-two {
    width: 333px;
    height: 205px;
    left: 681px;
    top: 202px;
    background: rgba(69, 132, 255, 0.20);
    border-radius: 9px;
}

.card-three {
    width: 333px;
    height: 205px;
    left: 1069px;
    top: 202px;
    background: rgba(255, 69, 69, 0.20);
    border-radius: 9px;
}

.aone {
    width: 100px;
    height: 100px;
    left: 373px;
    top: 518px;
    background: #FFC36A;
    border-radius: 147px;
}


.atwo {
    width: 100px;
    height: 100px;
    left: 373px;
    top: 518px;
    background: #6A79FF;
    border-radius: 147px;
}

.athree {
    width: 100px;
    height: 100px;
    left: 373px;
    top: 518px;
    background: #FF6A6A;
    border-radius: 147px;
}

.bluetext {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #5A95E9;
}

.mycard:hover {
    cursor: pointer;
} 

