html, body, #root, .App {
    height: 100%;
}

.register {
    background: linear-gradient(45deg,#6381ED, #4FADE2);
    height: 100%;
}
.row-register {
    margin-top: 150px;
}

.register-img {
    width: 350px;
    height: 250px;
}

.register-btn {
    background-color: #DDD7D7;
    color: white;
}