#initFront {
    background-image: url('../../img/desktop.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 110%;
    background-position: 0px -100px 0px ;
    /* background-size: 100%; */
    height: 755px;
    width: 1368px;
    position: fixed;

    
  }

  .buttonlogin {
    width: 320px;
height: 72px;
left: 84px;
top: 478px;

background: #FFFFFF;
border-radius: 66px;
  }
