html, body, #root, .App {
    height: 100%;
}

.login {
    background: linear-gradient(45deg,#6381ED, #4FADE2);
    height: 100%;
}

.row-login {
    margin-top: 200px;
}

.login-img {
    width: 350px;
    height: 250px;
}

.login-btn {
    background-color: #DDD7D7;
    color: white;
}